:root {
    font-size: 25px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(213, 216, 216);
}

.navbar-brand {
    color: rgb(53, 53, 53);
    font-family: 'Lobster', cursive;
    margin-bottom: 1%;
}

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.button {
    position: absolute;
    background: #2edd3d;
    color: #fff;
    left: 75%;
    margin-bottom: 0.56%;
    text-transform: uppercase;
    padding: 20px 0px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1.2);
    transform: translate(0px, -10px) scale(1.2);
}


/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

.device {
    width: 100%;
    max-width: 360px;
    height: 100vh;
    max-height: 640px;
    margin: 4em auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.app__phone {
    width: 100%;
    max-width: 360px;
    height: 100vh;
    max-height: 640px;
    margin: 5em auto;
    box-shadow: 0 0 20px rgba(255, 246, 246, 0.2);
}

.app__phone .bottom {
    box-shadow: 0 -2px 2px rgb(144, 145, 145);
}


/* post layout */

.app__phone .content .post {
    width: 100%;
    margin-bottom: 1em;
}

.app__phone .content .post .post-header {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .4em;
}

.app__phone .content .post .post-header .user-thumb {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
}

.app__phone .content .post .post-header .user-details {
    font-size: .95em;
    line-height: 1em;
    flex-grow: 1;
    padding: 0 .5em;
}

.app__phone.content .post .post-header .user-details strong,
.app__phone .content .post .post-header .user-details span {
    display: block;
}

.app__phone .content .post .post-header .post-menu {
    min-width: 40px;
}

.app__phone .content .post .post-header .post-menu .menu {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 270px 235px;
    background-position: -50px -186px;
    background-image: url(https://storage.googleapis.com/mkts/insta-sprite.png);
}

.app__phone .content .post .post-photo {
    width: 100%;
}

.app__phone .content .post .post-footer .buttons {
    width: 100%;
    padding: .6em 1em;
    display: flex;
    justify-content: center-;
    align-items: center;
}

.app__phone .content .post .post-footer .buttons .post-btn span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(https://storage.googleapis.com/mkts/insta-sprite.png);
}

.app__phone .content .post .post-footer .likes {
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    padding: .4em 1em;
    font-size: .95em;
}

.app__phone .content .post .post-footer .likes .user-like {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: .5em;
}

.app__phone .content .post .post-footer .likes strong {
    margin: 0 .3em;
}

.app__phone .content .post .post-footer .comments {
    width: 100%;
    padding: .4em 1em;
    font-size: .95em;
}

.app__phone .content .post .post-footer .comments p {
    margin: 0;
}